.footer {
  background-color: $secondary-color;
  color: $white;
  padding: 65px 0 55px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo-footer {
    width: 82px;
    height: 82px;
    display: inline-block;
  }

  .icon {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    z-index: 1;
  }

  .menu-footer {
    width: 20%;
    padding-left: 40px;

    .menu-list__item {
      margin-bottom: 5px;
    }

    .menu-list__link {
      display: inline-block;
      transition: .35s;

      &:hover,
      &:focus {
        color: $blue;
      }
    }
  }

  .info-block {
    width: 40%;
    padding-left: 20px;

    &__item {
      position: relative;
      display: block;
      padding-left: 38px;
      margin-bottom: 5px;
    }

    &__link {
      transition: .35s;

      &:hover,
      &:focus {
        color: $blue;
      }
    }
  }

  .right-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 44px;
    font-weight: 700;
    align-self: flex-start;
    &__link {
      transition: .35s;
      &:hover,
      &:focus {
        color: $blue;
      }
    }
  }
}