.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;

  &__item {
    position: relative;
    width: 33%;
    padding: 0 10px 50px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      left: 35px;
      right: 35px;
      bottom: 50px;
      height: 40px;
      box-shadow: 0 20px 25px rgba(32, 35, 40, 0.25), 0 10px 10px rgba(32, 35, 40, 0.1);
      z-index: 1;
    }
  }

  &__link {
    display: block;
  }

  .card {
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    transition: .5s;
    min-height: 480px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      top: 50%;
      background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #000000 85%);
      opacity: 0.8;
      z-index: 1;
      transition: .35s;
    }

    &:hover {
      .card__body {
        bottom: 50%;
        transform: translateY(50%);
      }
    }

    &:hover:before {
      top: 0;
    }

    &__body {
      position: absolute;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      bottom: 0;
      left: 35px;
      right: 35px;
      color: $white;
      z-index: 2;
      transition: .35s;
      padding: 18px;

    }

    &__title {
      position: relative;
      font-size: 18px;
      text-align: center;
      padding-bottom: 20px;
      line-height: 1.4;

      &:before {
        position: absolute;
        content: '';
        display: block;
        background-color: $white;
        width: 64px;
        height: 1px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      strong {
        font-size: 32px;
      }
    }
  }

  .swiper-container {
    width: 100%;

  }

}

.gallery-modal {
  .modal__container {
    height: 75%;
  }

  .swiper-slide {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background: #C4C4C4;
    border-radius: 8px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $white;
    width: 148px;
    min-height: 384px;
    top: 50%;
    margin-top: 0;
    transform: translateY(-50%);
  }

  .swiper-button-prev {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .32));
  }

  .swiper-button-next {
    background: linear-gradient(90deg, rgba(255, 255, 255, .32) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .swiper-pagination {
    width: 91px;
    height: 40px;
    background: rgba(19, 31, 53, .4);
    border-radius: 4px;
    color: $white;
    font-family: $secondary-fonts;
    font-weight: 700;
    font-size: 20px;
    padding: 8px 22px;
    line-height: 1.2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}

@include respond-to($lg) {
  .gallery-modal {
    .swiper-button-next,
    .swiper-button-prev {
      width: 73px;
      min-height: 284px;

    }
    .swiper-button-next{
      right: 14px;
    }
    .swiper-button-prev{
      left: 14px;
    }
  }
}

@include respond-to($md) {
  .gallery {
    &__item {
      width: 50%;
    }
  }
  .gallery-modal {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}

@include respond-to($sm) {
  .gallery {
    &__item {
      width: 100%;
    }
  }
}
