
@include respond-to($xl) {
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
}

@include respond-to($lg) {
  .container {
    max-width: 960px;
  }
}

@include respond-to($md) {
  .container {
    max-width: 720px;
  }
}

@include respond-to($sm) {
  .container {
    max-width: 540px;
  }
}

@include respond-to($xs) {
  .container {
    max-width: 100%;
  }
}

