.slider-banner{
  display: block;
  &__slide{
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 947px;
    padding-top: 210px;
    padding-bottom: 100px;
    &_dark{
      position: relative;
      color: $white;
      &:before{
        position: absolute;
        content: '';
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(180deg, #1E2731 20%, rgba(30, 39, 49, 0) 130%);
        z-index: 0;
      }
    }
  }
  .section-banner__content{
    position: relative;
    z-index: 1;

  }
}
//.owl-nav {
//  display: flex;
//  justify-content: space-between;
//  position: absolute;
//  left: 0;
//  right: 0;
//  top: 50%;
//  transform: translateY(-50%);
//  pointer-events: none;
//  z-index: 10;
//
//  .owl-next,
//  .owl-prev {
//    display: flex;
//    width: 29px;
//    height: 74px;
//    pointer-events: all;
//    overflow: hidden;
//    text-indent: -999rem;
//    background-repeat: no-repeat !important;
//    background-position: center center !important;
//    background-size: 59px auto !important;
//    -webkit-transition: .45s;
//    transition: .45s;
//
//    &.disabled {
//      visibility: hidden;
//    }
//  }
//
//  .owl-next {
//    background-image: url(../assets/img/icons/chevron-thin-right.svg) !important;
//  }
//
//  .owl-prev {
//    background-image: url(../assets/img/icons/chevron-thin-left.svg) !important;
//  }
//}
