.section-contact {
  position: relative;

  .section-contact__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    &:before {
      content: '';
      position: absolute;
      left: -50vw;
      right: 50%;
      top: 0;
      bottom: 0;
      background-color: #fff;
      box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.06), 0px 10px 10px rgba(0, 0, 0, 0.03);
    }
  }

  .content-part {
    position: relative;
    display: flex;
    width: 50%;
    z-index: 2;

    &_left {
      text-align: left;
      justify-content: flex-end;
    }
  }
  .form-container {
    position: relative;

    padding-top: 65px;
    padding-right: 100px;
    padding-bottom: 100px;
  }

  .map-container {
    position: relative;
    padding-top: 50%;
    .map {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50vw;
      height: 100%;
      z-index: 1;
    }
  }
}

.form__row {
  margin-bottom: 20px;
}

.form-contact {
  max-width: 470px;
  font-family: $primary-fonts;
  font-weight: 500;
  font-size: 15px;
  color: $primary-color;
  margin-left: auto;

  ::-webkit-input-placeholder {
    color: $primary-color;
    font-weight: 400;
  }

  ::-moz-placeholder {
    color: $primary-color;
    font-weight: 400;
  }

  :-ms-input-placeholder {
    color: $primary-color;
    font-weight: 400;
  }

  :-moz-placeholder {
    color: $primary-color;
    font-weight: 400;
  }

  .heading {
    text-align: left;
    margin-bottom: 65px;
  }

  .input {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 11px 16px;

    &:focus {
      outline: 1px ridge #234276;
      border-radius: 4px;
    }
  }

  .btn-submit {
    margin-top: 5px;
  }
}

@include respond-to($lg) {
  .section-contact {
    .form-container {
      padding-right: 40px;
    }
    .form-contact {
      .heading {
        margin-bottom: 45px;
      }
    }
  }
}

@include respond-to($md) {
  .section-contact {
    padding-bottom: 0;
    .content-part {
      width: 100%;
    }
    .content-part_left {
      justify-content: center;
      text-align: center;
    }

    .section-contact__content {
      &:before {
        display: none;
      }
    }

    .form-contact {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin: 0 auto;
    }

    .map-container {
      padding-top: 75%;
      .map {
        width: 100vw;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
    .form-container {
      padding: 0;
      margin-bottom: 60px;
      .heading {
        text-align: center;
      }
    }
  }
}

@include respond-to($xs) {
  .section-contact {
    .content-part_left {
      padding-bottom: 70px;
    }

    .form-contact {
      padding-top: 20px;
    }
  }
}

@media all and (max-width: 540px) {
  .section-contact {
    .content-part_left {
      padding-bottom: 40px;
    }
  }
}