html {
  font: 400 18px/1.77 $primary-fonts;
}

body {
  background: $white;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.section{
  text-align: center;
  padding-bottom: 45px;
  padding-top: 60px;
  &__heading{
    text-align: center;
    color: $black;
    margin: 0 auto 60px;
    .sub-title{
      margin: 0 auto;
      max-width: 374px;
    }
  }
}

.title {
  font-family: $primary-fonts;
  font-weight: 900;
  line-height: 2;
  color: #234276;
  @supports ((background-clip: text)  or  (-webkit-background-clip: text)) {
    background: linear-gradient(92deg, #3567B7 0%, #234276 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(35, 66, 118, .2);
  }

}

.page__title{
  font-weight: 900;
  font-size: 78px;
  color: $primary-color;
  text-align: left;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #323232;
  opacity: 0.67;
  z-index: 800;
}

