html {
  font: 400 18px/1.77 $primary-fonts;
}

body {
  background: $white;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  text-align: center;
  padding-bottom: 80px;
  padding-top: 30px;

  &__heading {
    text-align: center;
    color: $black;
    margin: 0 auto 60px;

    .sub-title {
      margin: 0 auto;
      max-width: 374px;
    }
  }
}

.title {
  font-family: $primary-fonts;
  font-weight: 900;
  line-height: 1.5;
  color: #234276;
  @supports ((background-clip: text)  or  (-webkit-background-clip: text)) {
    background: linear-gradient(92deg, #3567B7 0%, #234276 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(35, 66, 118, .2);
  }

}

.main-page {
  padding-top: 120px;
}

.page__title {
  font-weight: 900;
  color: $primary-color;
  text-align: left;
  line-height: 1.5;
}

.dynamic-content {

  .section__text {
    text-align: left;

    p {
      margin-bottom: 35px;
    }

    strong {
      font-size: 32px;
      font-weight: 700;
      color: $primary-color;
    }
  }

  ul {
    //text-align: left;

    li {
      position: relative;
      font-family: $primary-fonts;
      font-weight: 500;
      line-height: 2;
      color: #234276;
      font-size: 24px;
      @supports ((background-clip: text)  or  (-webkit-background-clip: text)) {
        background: linear-gradient(92deg, #3567B7 0%, #234276 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: rgba(35, 66, 118, .2);
        padding-left: 40px;
      }

      &:before {
        position: absolute;
        content: '';
        background-image: url(../assets/img/icons/tick.svg);
        display: inline-block;
        z-index: 1;
        left: 0;
        top: 13px;
        width: 24px;
        height: 24px;
      }
    }
  }

  li > ul li {
    font-size: 18px;

    &:before {
      display: none;
    }

  }
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #323232;
  opacity: 0.67;
  z-index: 800;
}


@include respond-to($xs) {
  html{
    font-size: 16px;
    line-height: 1.5;
  }
}
