/**
*TEXT UTILITIES
*/

.text {
  &_big{
    font-size: 86px;
  }
  &_xxl{
    font-size: 78px;
  }
  &_xl {
    font-size: 48px;
  }
  &_medium {
    font-size: 36px;
  }
  &_small {
    font-size: 16px;
  }
  &_xs{
    font-size: 15px;
  }
  &_uppercase {
    text-transform: uppercase;
  }
  &_left{
    text-align: left;
  }
}
@include respond-to($xl) {
  .text_big{
    font-size: 72px;
  }
}
@include respond-to($lg){
  .text{
    &_big{
      font-size: 50px;
    }
    &_xxl{
      font-size: 58px;
    }

    &_medium {
      font-size: 32px;
    }
  }
}

@include respond-to($md){
  .text{
    &_big{
      font-size: 46px;
    }
    &_xxl{
      font-size: 48px;
    }
  }
}
@media screen and (max-width: 670px){
  .text_big{
    font-size: 39px;
  }
}
@include respond-to($sm){
  .text{
    &_big{
      font-size: 37px;
    }
  }
}
@media screen and (max-width: 520px){
  .text_big{
    font-size: 33px;
  }
}
@include respond-to($xs){
  .text{
    &_big{
      font-size: 29px;
    }
    &_xl{
      font-size: 29px;
      line-height: 1.1;
    }
    &_medium{
      font-size: 26px;
    }
  }
}