/*
* Fonts
*/
$primary-fonts: 'Raleway', sans-serif;
$secondary-fonts: 'Roboto Condensed', sans-serif;


/*
* Colors
*/
$primary-color: #131F35;
$secondary-color:#1E2731;
$white: #fff;
$black: #000000;







