/*
* Fonts
*/
$primary-fonts: 'Raleway', sans-serif;
$secondary-fonts: 'Roboto Condensed', sans-serif;


/*
* Colors
*/
$primary-color: #131F35;
$secondary-color: #1E2731;
$blue: #3567B7;
$white: #fff;
$black: #000000;


/*
* Breakpoints
*/

$xs: '(min-width: 576px)';
$sm: '(max-width: 576px)';
$md: '(max-width: 720px)';
$lg: '(max-width: 992px)';
$xl: '(max-width: 1200px)';





